.container {
    max-width: 400px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding: 0 15px; /* Adiciona algum espaço de preenchimento às laterais */
}
